pipeline/Trigger_Snowflake_TO_Wellvana_DR_Dynamic.json
{
	"name": "Trigger_Snowflake_TO_Wellvana_DR_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"description": "Retrieve the table list from my database",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "SELECT TABLE_NAME, table_schema\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'VIEW' and table_schema='WELLVANA' and table_name in ('ACTIVE_PATIENT_UPIDS','ALLERGYINTOLERANCE');",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "ALLERGYINTOLERANCE_Snowflake",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute snowflake to wellvana Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Snowflake_TO_Wellvana_DR_Dynamic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"tableList": {
							"value": "@activity('LookupTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-11-20T14:58:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}